<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTSLibrary.Properties.Settings.OutOfBoundsConnectionString"
            connectionString="Data Source=DESKTOP-GHVNJTU;Initial Catalog=&quot;Out Of Bounds Ltd&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>